<link rel="stylesheet" href="assets/css/styles.css">
<h3>Chat:</h3>
<hr>
<input type="text" id="msg">
<div id="messages"></div>


<script src="socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="assets/scripts/chat.js"></script>