<h2>Recuperación de contraseña</h2>
<hr>
<p>Ingrese su nueva contraseña.</p>
<form action="/api/users/newPassword" method="post">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Enviar">
</form>
<br>
{{>menu}}