<h2>Recuperación de contraseña</h2>
<hr>
<p>Ingrese su casilla de email y enviaremos un correo para que pueda recuperar su cuenta.</p>
<form action="/api/users/restorePassword" method="post">
    <input type="email" name="email" placeholder="email">
    <input type="submit" value="Enviar">
</form>
<br>
{{>menu}}