<h1>Perfil de {{first_name}} {{last_name}}</h1>
<ul>
    <li>email: {{email}}</li>
    <li>age: {{age}}</li>
</ul>

<ul class="menu">
    <a id="cart-id" href="/carts/6510a5067c41cba7c8e3a6a7">Ver carrito</a>
    <a href="/products">Ver productos</a>
</ul>

<hr>
<br>
{{>menu}}