<h2>Registro de usuarios:</h2>
<hr>
<form action="/api/sessions/register" method="post">
    <input type="text" name="first_name" placeholder="nombre">
    <input type="text" name="last_name" placeholder="apellido">
    <input type="number" name="age" placeholder="edad">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">

    {{#if missingData}}
        <p><font color="red">Por favor, complete todos los campos pedidos.</font></p>
    {{/if}}
    {{#if repeatedEmail}}
        <p><font color="red">El email indicado ya pertenece a una cuenta. Por favor, intente con otro</font></p>
    {{/if}}
    <input type="submit" value="Registrar">
</form>
<br>
{{>menu}}